{% extends 'home.html' %}
{% block content %}
    <div class="profile" style="box-shadow: 0px 0px 10px rgba(0,0,0,0.5);border: 1px solid white;"> 
        <div class="profile_img">
            <img src="/media/gifs/info.gif" width="150px" height="150px">
        </div>
        <br><br><br>
        <div style="padding-bottom: 20px;">
            <h1>Attendace Calculator</h1>
            <p style="color: #0d75ec;text-align: left;">
                Attendace Calculator is a dynamic website <br>
                <li style="color: #0d75ec;text-align: left;"> 
                    Frontend : <img src="/media/images/html.png" width="20px" height="20px">
                    <img src="/media/images/css.png" width="20px" height="20px">
                    <img src="/media/images/javascript.png" width="20px" height="20px"> 
                </li>
                <li style="color: #0d75ec;text-align: left;">
                    Backend  : <img src="/media/images/django.png" width="20px" height="20px">
                </li>  
                <li style="color: #0d75ec;text-align: left;">
                    Database : <img src="/media/images/firebase.png" width="20px" height="20px">
                </li> 
            </p>
            <p style="color: #0d75ec;text-align: left;">
                <b>Description</b> : Attendace Calculator is a dynamic website which records the day by day Attendace 
                predicts the number of periods to attend to attain the required percentage and also gives the 
                subject wise anlaysis 
            </p>
        </div>
    </div>
{% endblock %}