{% extends 'home.html' %}

{% block content %} 
<div id="parent">
{% for x in subs %}
<div class="cards"> 
      <p style="text-align: center;">{{x}}</p>
      <hr>
      <img src="/media/gifs/semester{{forloop.counter0}}.gif" width="180px" height="120px" style="margin: 5px 10px 0px 10px;" id="{{x}}">
      <div class="viewdiv">
        <!-- foem 1 -->
        <form action="#" method="post"> 
          <input type="hidden" value="{{x}}" name="delsem"> 
              <button type="button" class="viewbtn1" onclick="change1('{{x}}')" style="padding-left: 45px;">  
                <span  class="click"><i class='bx bxs-trash-alt' ></i></span>  
              </button>
        </form>  
        <!-- form 2 -->
        <form action="currsem" method="post"> 
          <input type="hidden" value="{{x}}" name="sems"> 
          <button type="submit" class="viewbtn"> 
            <span class="viewani" ><i class='bx bx-right-arrow-alt'></i></span>   
          </button> 
        </form>
      </div>
</div>
{% endfor %}

{% if total_semester != 15 %} 
  <div class="cards" id="addbtn">
    <div class="center">
      <a href="add_sem_subjects" class="icon"><div><i class="uil uil-plus" ></i></div></a> 
    </div>
  </div> 
{% endif %}

</div>
{% endblock %}